/* Mickaël BARRAUD 
mickael.barraud@ac-nantes.fr
CC BY-NC-SA 4.0 https://creativecommons.org/licenses/by-nc-sa/4.0/
Écrit dans l'optique d'enseigner la recherche textuelle en TNSI
Mise à jour de Juillet 2021
https://github.com/MBarraud/NSI/tree/master/rechercheTextuelle
*/
:root {
    --nbCarte : 25;
    --largeurCarte : calc(calc(calc(95vw - 2px) / var(--nbCarte)) - 12px);
    --largeurTexte : calc(calc(var(--largeurCarte) + 12px)* var(--nbCarte));
    --hauteurCarte : calc(calc(var(--largeurCarte) / 3) * 4);
    --hauteurTexte : calc(var(--hauteurCarte) + 10px);
    --hauteurLettre : calc(var(--hauteurCarte) * 0.9);
}
body {
    padding : 0px;
    margin : 0px;
    background-color : rgb(0,50,0);
    /*overflow:hidden;*/
}
#outils {
    padding-bottom : 5px;
    position : absolute;
    right : 20px;
    top : 5px;
    color : silver;
    font-size : 40px;  
    cursor : pointer;
    transition : color 0.5s, transform 0.5s;
}
#outils:hover {
    transform : rotate(360deg);
    color : white;
}

#menu {
    display: none;
    position : absolute;
    left : 50%;
    top : 50%;
    padding : 0.5em;
    width : 400px;
    background:linear-gradient(to bottom,#fff,#ddd);
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    border : 5px double black;
    border-radius: 10px;
    text-align : center;
    z-index : 2;
    transform : translateX(-50%) translateY(-50%) scale(1);
}

#menu div + div {
  margin-top: 0.5em;
}

#menu label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

#menu input {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

#menu input:focus {
  border-color: #000;
}

#menu .bouton {
    width: 150px;
    display : inline-block;
    cursor : pointer;
}

#menu .bouton:active {
    transform : translateY(1px) scale(0.99);
}

.invisible {
    visibility : hidden;
}
.visible{
    visibility : visible;
}

h1 {padding : 5px;
    margin : 10px;
    text-align:center;
}
h1 > span {
    padding-left:5%;
    padding-right:5%;
    padding-bottom:5px;
    text-align:center;
    color:blue;
    background:linear-gradient(to bottom,#fff,#ddd);
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    border : 5px double black;
    border-radius: 10px;
}
nav { 
    display : grid;
    grid-template-columns: 1fr calc(var(--hauteurTexte) + 10px) 1fr;
    text-align : center;
}
a {
    color : black;
    font-size : 200%;
}
#plateau {
    text-align : center;
}
#zonei, #cherche, #zonej {
    position:relative;
    width: var(--largeurTexte);
    overflow: hidden;
    margin:auto;
}
#zonei, #zonej {
    height: calc(calc(var(--largeurCarte) / 2) + 12px);
}
#cherche {
    height: calc(calc(var(--hauteurTexte) * 2) + 5px);
}

.jeton{
    margin-top : 2px;
    margin-bottom : 2px;
    position : absolute;
    height : calc(var(--largeurCarte) / 2);
    width : calc(var(--largeurCarte) / 2);
    border-radius: 50%;
    border : dashed 3px;
    background-color : white;
    left: calc(var(--largeurCarte) / 4);  
}

.jeton div{
    font-size: calc(calc(var(--largeurCarte) / 2) - 12px);
    line-height: calc(calc(var(--largeurCarte) / 2) - 6px);
    color : black;
    border-radius: 50%;
    border : solid 3px;
    border-color : inherit;
    background-color : inherit;
    justify-content: center;
    font-weight : bold;
    user-select: none;  
}

.indicei { 
    border-color : blue;
    transition : left 0.5s ease;
    left: calc(calc(var(--largeurCarte) + 12px) * 0.25); 
}

.indicej {
    border-color : red;
    transition : left 0.5s ease;
    left: calc(calc(var(--largeurCarte) + 12px) * 4.25);
}
.carte {
    display: inline-block;
    height : var(--hauteurCarte);
    width : var(--largeurCarte);
    border : double 5px rgb(100,100,100);
    border-radius: 10%;
    /*background:linear-gradient(to bottom,#fff,#ddd);*/
    background-color:#ddd;
    box-shadow:0 var(--hauteurCarte) var(--hauteurCarte) calc(var(--hauteurCarte) / -3) #fff inset;
    font-size: var(--hauteurLettre);
    text-align : center;
    margin:1px;
    transition : background-color 1s;
    user-select: none;
}
#motif  > .carte{cursor : help;}

.fondNeutre {
    background-color:#ddd;
}
.fondOK {
    background-color:#88f;
}
.fondNO {
    background-color:#f88;
}
#cache {
    position:absolute;
    left:calc(0pt - var(--largeurTexte));
    top:0px;
    transition : left 0.5s ease;
    width:calc(calc(var(--largeurCarte) + 12px) * 7);
    height:calc(var(--hauteurCarte) + 12px);
    border-right:var(--largeurTexte) solid rgba(0,0,0,0.5);
    border-left:var(--largeurTexte) solid rgba(0,0,0,0.5);
}
#fenetre {
    border:3px solid blue;
    width:calc(100% - 6px);
    height:calc(100% - 6px);
}

#init{
  margin : auto;
  width:var(--hauteurTexte);
  height:var(--hauteurTexte);
  line-height:var(--hauteurTexte);
  background:silver;
  text-align:center;
  font-size: calc(var(--hauteurTexte) * 0.8);
  cursor:pointer;
  /*border-radius : 50% 0 0 50% ;*/
  border-radius : 50% 50% 50% 50% ;
  transition : none;
  user-select: none;
}

#init:active{
  background:white;
  transition : transform 0.5s ease;
  transform: rotate(360deg);
}

#p1{
  margin-right : auto;
  margin-left : 0px;
  width:var(--hauteurTexte);
  height:var(--hauteurTexte);
  line-height:var(--hauteurTexte);
  background:silver;
  text-align:center;
  font-size: calc(var(--hauteurTexte) * 0.8);
  transform-style: preserve-3d;
  cursor:pointer;
  user-select: none;
  transition : border-width 0.15s ease;
  border-radius : 5px 0  0 5px;
  border-left : 5px solid silver;
}

#p1:active{
  border-left : calc(var(--hauteurTexte) * 0.2) solid white;
  background:white;
}

#p1::after { 
  content:'';
  right:calc(var(--hauteurTexte) * -0.3);
  top:0px;
   width: 0; 
   height: 0; 
  border-right: calc(var(--hauteurTexte) * 0.5) solid silver;
  border-top: calc(var(--hauteurTexte) * 0.5) solid silver;
  border-left: calc(var(--hauteurTexte) * 0.5) solid transparent;
  border-bottom: calc(var(--hauteurTexte) * 0.5) solid transparent;
  position: absolute;
  transform: rotate(45deg) translateZ(-1px);
  transition : right 0.15s ease;
}
#p1:active::after{
  right:calc(calc(var(--hauteurTexte) * -0.5) + 2px);
  border-right: calc(var(--hauteurTexte) * 0.5) solid white;
  border-top: calc(var(--hauteurTexte) * 0.5) solid white;
}

#m1{
  margin-left : auto;
  margin-right : 0px;
  width:var(--hauteurTexte);
  height:var(--hauteurTexte);
  line-height:var(--hauteurTexte);
  background:silver;
  text-align:center;
  font-size: calc(var(--hauteurTexte) * 0.8);
  transform-style: preserve-3d;
  cursor:pointer;
  user-select: none;
  transition : border-width 0.15s ease;
  border-radius : 0 5px 5px 0;
  border-right : 5px solid silver;
}

#m1:active{
  border-right : calc(var(--hauteurTexte) * 0.2) solid white;
  background:white;
}

#m1::after { 
  content:'';
  left:calc(var(--hauteurTexte) * -0.3);
  top:0px;
   width: 0; 
   height: 0; 
  border-right: calc(var(--hauteurTexte) * 0.5) solid transparent;
  border-top: calc(var(--hauteurTexte) * 0.5) solid transparent;
  border-left: calc(var(--hauteurTexte) * 0.5) solid silver;
  border-bottom: calc(var(--hauteurTexte) * 0.5) solid silver;
  position: absolute;
  transform: rotate(45deg) translateZ(-1px);
  transition : left 0.15s ease;
}
#m1:active::after{
  left:calc(calc(var(--hauteurTexte) * -0.5) + 2px);
  border-left: calc(var(--hauteurTexte) * 0.5) solid white;
  border-bottom: calc(var(--hauteurTexte) * 0.5) solid white;
}

.centre{text-align : center;}

#auto {
    margin-left : auto;
    margin-right : auto;
  width : calc(var(--hauteurTexte) * 2.5);
  font-size: calc(var(--hauteurTexte) * 0.2);
  line-height:calc(var(--hauteurTexte) * 0.2);
  height:calc(var(--hauteurTexte) * 0.25);
  background:silver;
  text-align:center;
  cursor:pointer;
  margin-top : 5px;
  border-radius : 2px 2px 50% 50% ;
  transition : none;
  user-select: none;
  transition : transform 0.25s ease, background 0.25s ease;
}
#choix {
    text-align : center;
}
#indice, #reverse {
  display : inline-block;
  width : calc(calc(var(--hauteurTexte) * 1.25) - 5px);
  font-size: calc(var(--hauteurTexte) * 0.2);
  line-height: calc(calc(var(--hauteurTexte) * 0.2) +5px);
  height:calc(var(--hauteurTexte) * 0.25);
  background:silver;
  text-align:center;
  cursor:pointer;
  margin-bottom : 5px;
  user-select: none;
  transition : transform 0.25s ease, background 0.25s ease;
}
#indice {
  margin-right : 5px;
  border-radius : 50% 2px 2px 2px;
}
#reverse {
  margin-left : 5px;
  border-radius : 2px 50% 2px 2px;
} 
#indice:active ,#reverse:active, #auto:active {
    background:white;
    transform:scale(0.85);
}

.split2 {
    display : inline-block;
    position : relative;
    width : 50%;
    vertical-align: top;
    text-align : center;
}
.mc {
    margin-top : 15px;
    padding : 0;
    margin-left : calc(calc(var(--largeurCarte) + 10px)* 0.15);
    margin-right : calc(calc(var(--largeurCarte) + 10px)* 0.15);
    padding-top : calc(calc(var(--hauteurCarte) + 10px) * 1.15);
    position : relative;
    display : inline-block;
    width : calc(calc(var(--largeurCarte) + 10px)* 0.8);
    background-color:silver;
    box-shadow:0 var(--hauteurCarte) var(--hauteurCarte) calc(var(--hauteurCarte) / -3) #fff inset;
    font-size: calc(calc(var(--hauteurCarte) + 10px) * 0.8);
    text-align : center;
    border-bottom : silver double 10px;
    border-radius:  0 0 10px 10px;
}
.mc::after {
    position : absolute;
    content : '';
    width : calc(calc(var(--largeurCarte) + 10px) * 0.8);
    left : 0;
    top : -10px;
    background-color: red;
    border-top:10px solid white;
    clip-path: polygon(0 5px, 20% 0px, 50% 10px, 80% 0px, 100% 5px,100% 100%, 0 100%);
    
}
.dessus { 
    position : absolute;
    left : calc(calc(var(--largeurCarte) + 10px) * -0.1);
    top : calc(calc(var(--hauteurCarte) + 10px) * 0.1);
}

.bs {
    margin-top : calc(var(--hauteurCarte) + 15px);
    padding : 0;
    margin-left : calc(calc(var(--largeurCarte) + 10px)* 0.15);
    margin-right : calc(calc(var(--largeurCarte) + 10px)* 0.15);
    padding-top : calc(calc(var(--largeurCarte) + 10px) * 1.1);
    position : relative;
    display : inline-block;
    width : calc(calc(var(--largeurCarte) + 10px)* 0.8);
    background-color:silver;
    box-shadow:0 var(--hauteurCarte) var(--hauteurCarte) calc(var(--hauteurCarte) / -3) #fff inset;
    font-size: calc(calc(var(--hauteurCarte) + 10px) * 0.8);
    text-align : center;
    border-bottom : silver double 10px;
    border-radius:  0 0 10px 10px;
}
.bs::after {
    position : absolute;
    content : '';
    width : calc(calc(var(--largeurCarte) + 10px) * 0.8);
    left : 0;
    top : -10px;
    background-color: red;
    border-top:10px solid white;
    clip-path: polygon(0 5px, 20% 0px, 50% 10px, 80% 0px, 100% 5px,100% 100%, 0 100%);
    
}
.jetonBS{
    margin-top : 2px;
    margin-bottom : 2px;
    position : absolute;
    height : calc(var(--largeurCarte) / 1);
    width : calc(var(--largeurCarte) / 1);
    border-radius: 50%;
    border : dashed 6px;
    background-color : white;
    border-color : red;
}

.jetonBS div{
    font-size: calc(calc(var(--largeurCarte) / 1) - 12px);
    line-height: calc(calc(var(--largeurCarte) / 1) - 6px);
    color : black;
    border-radius: 50%;
    border : solid 3px;
    border-color : inherit;
    background-color : inherit;
    justify-content: center;
    font-weight : bold;
}

.dessous { 
    position : absolute;
    left : calc(calc(var(--largeurCarte) + 10px) * -0.1);
    top : calc(var(--hauteurCarte) * -1);
    z-index : -1;
}

.etoile{
  display : block;
  position : absolute;
  top : 0px;
  margin : calc(var(--hauteurTexte) / 3);
  margin-top : 0;
  width:var(--hauteurTexte);
  height:var(--hauteurTexte);
  line-height:var(--hauteurTexte);
  background:silver;
  text-align:center;
  font-size: calc(var(--hauteurTexte) * 0.8);
  transform-style: preserve-3d;
  cursor:pointer;
  user-select: none;
  transition : border-width 0.15s ease;
  transition : transform 0.15s ease;
}

.etoile::after { 
  content:'';
  right:0px;
  top:0px;
  width: 0; 
  height: 0; 
  border: calc(var(--hauteurTexte) * 0.5) solid silver;
  position: absolute;
  transform: rotate(45deg) translateZ(-1px);
  transition : border-color transform 0.15s ease;
}

.etoile:active{
    transform : scale(0.85);
    background:white;
}
.etoile:active::after{
    transform :  rotate(45de) translateZ(-1px) scale(0.85);
    border-color : white;
}
